/* Header */

	#header {
		/*display: -moz-flex;*/
		/*display: -webkit-flex;*/
		/*display: -ms-flex;*/
		display: flex;
		/*-moz-align-items: center;*/
		/*-webkit-align-items: center;*/
		/*-ms-align-items: center;*/
		align-items: center;
		/*-moz-justify-content: center;*/
		/*-webkit-justify-content: center;*/
		/*-ms-justify-content: center;*/
		/*justify-content: center;*/
		/*position: relative;*/
		height: 20em;
		background: url("images/Picture1.png") left;
		background-size: contain;
		/*padding: 0;*/
		max-width: 100%;
	}

/* Logo */

	#logo {
		width: 100%;
		text-align: center;
		position: relative;
		top: 1.5em;
	}

		#logo h1 {
			mix-blend-mode: difference;
			font-weight: 900;
			/*text-transform: uppercase;*/
			color: #fff;
			font-size: 2em;
			letter-spacing: 0.25em;
		}

		#logo p {
			color: #eee;
			mix-blend-mode: difference;
			color: rgba(255, 255, 255, 0.5);
			text-transform: uppercase;
			margin: 1.25em 0 0 0;
			display: block;
			letter-spacing: 0.2em;
			font-size: 0.9em;
		}

/* Nav */

	#nav {
		position: absolute;
		display: block;
		top: 2.5em;
		left: 0;
		width: 100%;
		text-align: center;
	}

		#nav > ul {
			display: inline-block;
			border-radius: 0.35em;
			box-shadow: inset 0px 0px 1px 1px rgba(255, 255, 255, 0.25);
			padding: 0 1.5em 0 1.5em;
		}

			#nav > ul > li {
				display: inline-block;
				text-align: center;
				padding: 0 1.5em 0 1.5em;
			}

				#nav > ul > li > a, #nav > ul > li > span {
					color: rgba(255, 255, 255, 0.75);
					text-transform: uppercase;
					font-size: 0.7em;
					letter-spacing: 0.25em;
					line-height: 5em;
				}

				#nav > ul > li:hover > a {
					color: #fff;
				}